
<section class="component new-component col-xs-12">
  <component-name></component-name>
  <form action="" class="row" >

    <fieldset>
        <div class="col-xs-12">
          <label class="col-xs-2" for="element-description">Element description</label>
          <label class="col-xs-2" for="element-type">Element type</label>
          <label class="col-xs-7" for="content">Content</label>
        </div>
        <element-group type="newElementGroup"> </element-group>
    </fieldset>
  </form>
  <div class="col-xs-6 new-element">
    <button class="new-element-button">New element</button>
  </div>
</section>
