
<!-- <div class="title">
    <div ng-show="name">
      <h1 ng-click="single.changeComponentName(name)" ng-hide="single.editing">{{name}}</h1>
      <div ng-show="single.editing">
        <input type="text" value="{{name}}">
      </div>
    </div>
    <div ng-show="!name">
      <h1 ng-click="single.changeComponentName()" ng-hide="single.editing">Nameless Component</h1>
      <div ng-show="single.editing">
        <input type="text" value="Nameless Component">
      </div>
    </div>


    <i class="fa fa-pencil fa-2x" aria-hidden="true" ng-click="single.editing = !single.editing"></i>
</div> -->

<!-- {{changeComponentName}} -->
{{editing}}
<div class="title">
    <div ng-show="name">
      <h1 ng-hide="editing">{{name}}</h1>
      <div ng-show="editing" class="input-edit-field">
        <input type="text" class="form-control component-name" id="component-name" value="{{name}}">
      </div>
    </div>
    <div ng-show="!name">
      <h1 ng-hide="editing">Nameless Component</h1>
      <div ng-show="editing" class="input-edit-field">
        <input type="text" class="form-control component-name" id="component-name" value="Nameless Component">
      </div>
    </div>


    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
</div>
