<section class="row single-project">
  <div class="col-xs-10 col-center">

    <header class="clearfix">
      <div class="col-xs-10">

        <!-- {{single.components}} -->
<!--
        {{single}}

        components____: {{components}}
        projects___:  {{projects}} -->

        <h1>{{single.projects.name}}</h1>
        <span>Editing in language:</span>
        <select name="languages" id="languages">
          <option value="dutch">Dutch</option>
          <option value="english">English</option>
        </select>
      </div>

      <div class="col-xs-2 text-right">
            <button class="save-project">Save Project</button>
            <p>Version 0.1</p>
      </div>

    </header>
    <section class="col-xs-12 components">

      <nav>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Development</a></li>
          <li role="presentation"><a href="#">Production</a></li>
        </ul>
      </nav>
<!--
      <div class="col-xs-12">
        Search
      </div> -->

      <!-- {{single.components}} -->

          <section class="component old-component col-xs-12" ng-repeat="component in single.components" index="{{$index}}" componentId="{{component._id}}">
            {{$index}}

            <component-name name="{{component.name}}"></component-name>

            <form action="" class="row">
              <fieldset>
                <element-group type="elementGroup" component="component"></element-group>
              </fieldset>
            </form>


            <div class="col-xs-6 new-element">
              <button ng-click="single.createNewElement($index)">New element</button>
            </div>
          </section>


      <button class="col-xs-12 new-component" ng-click="single.createNewComponent()">New component</button>

      <div class="row">
        <div class="col-xs-12">
              <hr>
        </div>
      </div>



    </section>
    <section ng-include="'client/projects/single/generators/generators.html'" class="generators col-xs-12"></section>
  </div>
</section>
